<ion-view hide-back-button="false" title="antiSocialite">
    <ion-content padding="true">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchC" placeholder="Search Contacts...">
            </label>
            <ul class="list">
                <li class="item item-checkbox" ng-repeat="c in contacts | orderBy: 'displayName' | filter:searchContacts">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="c.isChecked" ng-checked="c.isChecked" ng-change="handleContact(c)">
                    </label>
                    <h2>{{c.displayName}}</h2>
                    <p>{{c.phoneNumbers[0].value}}</p>
                </li>
            </ul>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <h5 class="center-footer">antiSocialite made @ HackReactor</h5>
    </ion-footer-bar>
</ion-view>
