<ion-view hide-back-button="false" title="antiSocialite">
    <ion-content padding="true">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchC" placeholder="Search Contacts...">
            </label>
            <ul class="list">
                <li class="item item-checkbox" ng-repeat="userStorage in contacts | orderBy: 'name' | filter:searchContacts">
                    <h2>{{userStorage.name}}</h2>
                    <p>{{userStorage.phone}}</p>
                </li>
            </ul>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <h5 class="center-footer"><b>antiSocialite</b> crafted @ HackReactor</h5>
    </ion-footer-bar>
</ion-view>


