<ion-view hide-back-button="false" title="Add Contact">
  <ion-content padding="true">
      <ul class="list" ng-repeat="userStorage in contacts">
        <li class="item item-checkbox">
          <label class="checkbox" ng-model="{{userStorage.name}}">
            <input type="checkbox">
          </label>
          {{userStorage.name}}
        </li>
      </ul>
  </ion-content>
</ion-view>


           <!--  <label class="dropdown dropdown-scroll" ng-controller="ContactsCtrl">
            <select ng-options="contact as contact.name for contact in contacts | orderBy: 'name'" ng-model="contact" ng-change="setContact(contact || 'Select Contact')">
            </label> -->

<!-- <ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Flux Capacitor
  </li>

  ...

</ul> -->