<ion-view hide-back-button="true" title="">
    <ion-nav-buttons side="left">
        <button class="button button-dark no-animation" ng-click="startApp()" ng-if="!slideIndex">
            Skip Intro
        </button>
        <button class="button button-dark no-animation" ng-click="previous()" ng-if="slideIndex > 0">
            Previous
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-dark no-animation" ng-click="next()" ng-if="slideIndex != 2">
            Next
        </button>
    </ion-nav-buttons>

    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
        <ion-slide class="bar-subheader">
            <div class="text-center">
                <h3 class="padding-top">Thank you for downloading antiSocialite!</h3>
                <div id="logo">
                    <img src="images/ionic.png">
                </div>
                <h3 class="padding">
                    Let's eliminate communication breakdowns.
                </h3>
            </div>
        </ion-slide>

        <ion-slide>
            <h3>Using antiSocialite</h3>
            <div class="list card">
                <div class="item text-left">
                    <h2>Step 1</h2>
                    <p class="ft-17">Schedule messages online</p>
                </div>
                <div class="item text-left">
                    <h2>Step 2</h2>
                    <p class="ft-17">Receive a notification</p>
                </div>
                <div class="item text-left">
                    <h2>Step 3</h2>
                    <p class="ft-17">Review and edit any scheduled SMSs</p>
                </div>
                <div class="item text-left">
                    <h2>Step 4</h2>
                    <p class="ft-17">Send all scheduled SMSs with a single touch</p>
                </div>
            </div>
            <br/>
            <h3 class="text-center">It's Pretty Simple.</h3>
        </ion-slide>

        <ion-slide>
            <div class="text-center">
                <br/>
                <br/>
                <button class="button button-assertive no-animation" ng-click="startApp()" ng-if="slideIndex == 2">
                    Start using antiSocialite
                </button>
            </div>

        </ion-slide>
    </ion-slide-box>
</ion-view>
