<ion-view hide-back-button="true" title="Welcome" class="splash">

    <ion-content has-header="true" padding="true">
    </br>

    <div class="list card">

      <a class="item item-icon-left" ng-click='addMessage()'>
        Create Message
      </a>

      <a class="item item-icon-left" ng-click='allMessages()'>
        Messages
      </a>

      <a class="item item-icon-left" ng-click='contacts()'>
        Contacts
      </a>

      <a class="item item-icon-left" ng-click='logout()'>
        Logout
      </a>
    </div>
</ion-view>