
<ion-view hide-back-button="false" title="Edit Message">

    <ion-content padding="true">
        <form class="list" ng-submit="update()">
            <label class="item item-input">
                <input type="text" placeholder="Contact Name" ng-model="message.contactId.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="" ng-model="message.contactId.phone">
            </label>
            <label class="item item-input">
                <textarea placeholder="Content" ng-model="message.text"></textarea>
            </label>
            <label class="item item-input">
                <input type="date" ng-model="message.date | date: 'yyyy-MM-ddTHH:mm:ss'" >
            </label>
            <button value="send" ng-click="send()" class="button button-full button-positive">Send</button>
            <!--<button value="save" type="submit" class="button button-full button-stable">Save</button>-->
            <button value="delete" ng-click="onItemDelete(message)" class="button button-full button-dark">Delete</button>
        </form>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <h5 class="center-footer"><b>antiSocialite</b> crafted @ HackReactor</h5>
    </ion-footer-bar>
</ion-view>

<!--<ion-modal-view class="padding">-->
    <!--<ion-header-bar>-->
        <!--<h1 class="title">Edit Message</h1>-->
    <!--</ion-header-bar>-->
    <!--<ion-content>-->
        <!--Hello!-->
    <!--</ion-content>-->
<!--</ion-modal-view>-->