<ion-view hide-back-button="false" title="Messages">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-close-circled"
                ng-click="shouldShowDelete = !shouldShowDelete">
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <button class="button button-block button-calm" ng-click="sendAll()" ng-show="allMessages">
            Send All
        </button>
        <ion-list show-delete="shouldShowDelete">
            <ion-item ng-repeat="message in allMessages" class="item-avatar item-remove-animate" ng-hide="deleted"
            ng-click="edit(message)">
                <!--ui-sref="queue.message({id: message.id})">-->
                <!--ng-href="#/queue/{{message.id}}">-->

<!--                 <img ng-src=""> -->

                <h2>{{message.contactId.name}} : {{message.contactId.phone}}</h2>

                <p>{{message.text}}</p>
<!--                 <ion-option-button class="button-positive"
                                   ng-click="edit(message)">
                    Edit
                </ion-option-button> -->
                <ion-delete-button class="ion-minus-circled" ng-click="removeMessage(message); deleted=true">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <h5 class="center-footer"><b>antiSocialite</b> crafted @ HackReactor</h5>
    </ion-footer-bar>
</ion-view>